
<div style="text-align:center; margin-top:5%">
    
<%= image_tag "sans.jpg" %>    

</div>


<div style="text-align:center">
    <h1>I Feel Lucky!</h1>
    <h2><a href="javascript:location.reload()">HERE WE GO!</a></h2>

    <div style="font-size:30px;">
       <h1 style="color:skyblue;"><%= @ball_1 %>
       <%= @ball_2 %>
        <%= @ball_3 %>
        <%= @ball_4 %>
        <%= @ball_5 %>
        <%= @ball_6 %></h2>
    </div>
</div>


    
<div>

<embed src="megalovania.mp3" autostart="true" loop="true" hidden="true"><embed>

</div>