<!DOCTYPE html>
    <html>

        <body style="background-color:black">
    
    
    <div style="text-align:center; margin-top:5%">
    
        <%= image_tag "sans.jpg" %>    

    </div>


    <div style="text-align:center;">
    
        <h1><a href="javascript:location.reload()">I Feel Lucky Today!</a></h1>
    </div>

    <div style="font-size:30px;text-align:center;">
       <h1 style="color:white;"><%= @ball_1 %>
       <%= @ball_2 %>
        <%= @ball_3 %>
        <%= @ball_4 %>
        <%= @ball_5 %>
        <%= @ball_6 %></h2>
    </div>



    
<div>

<embed src="megalovania.mp3" autostart="true" loop="true" hidden="true"><embed>

</div>

</body>

</html>